<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/YuraChernii/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="mik373737373737@gmail.com" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>